<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mallSpringboot.mapper.AdminInWebMapper">
    <insert id="insertAdmin" parameterType="com.cskaoyan.mallSpringboot.bean.AdminInWeb">
        insert into cskaoyan_mall_admin(
        username,
        password,
        role_ids)
        values (
        #{username},
        #{password},
        #{roleIds , typeHandler=com.cskaoyan.mallSpringboot.mybatis.IntArrayTypeHandler}
        )
    </insert>
</mapper>