<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mallSpringboot.mapper.GoodsInWebMapper">
    <insert id="insert">
    insert into cskaoyan_mall_goods (goods_sn,`name`,category_id,brand_id,gallery,keywords,brief,is_on_sale,sort_order,
    pic_url,share_url,is_new,is_hot,unit,counter_price,retail_price,detail) values (#{goods.goodsSn},#{goods.name},
    #{goods.categoryId},#{goods.brandId},#{goods.gallery,typeHandler=com.cskaoyan.mallSpringboot.mybatis.StringArrayTypeHandler},
    #{goods.keywords},#{goods.brief},#{goods.isOnSale},#{goods.sortOrder},#{goods.picUrl},#{goods.shareUrl},#{goods.isNew},
    #{goods.isHot},#{goods.unit},#{goods.counterPrice},#{goods.retailPrice},#{goods.detail})
    </insert>
</mapper>